*.img
*.iso
*.zsync
*.md5sum
*.buildlog
*.log
.lock
.build
binary
cache
chroot/
#config
config/bootstrap
config/common
config/source

!auto/config
includes.chroot

config/includes.chroot_before_packages/root/passwd

.vagrant/

.builder/
debootstrap-vagrant
vagrant/
.env
